.workspace-split.mod-left-split {
  @apply bg-[var(--background-secondary)];
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
    border-top: none;
}

.nav-files-container > div {
    @apply flex flex-col gap-0.5;
}

.nav-folder-title {
  @apply text-[var(--text-normal)] text-xs px-2 rounded-md transition-colors duration-200 ease-in-out;
}

.nav-file-title {
  @apply text-[var(--text-normal)] text-xs pr-2 pl-5 rounded-md transition-colors duration-200 ease-in-out;
}

.nav-folder-title:hover, .nav-file-title:hover {
  @apply bg-[var(--background-primary-alt)];
}

.nav-file-title.is-active {
  @apply bg-[var(--text-accent)] text-[var(--text-on-accent)];
}

.nav-action-button {
  @apply text-[var(--text-muted)];
}

.nav-action-button:hover {
  @apply text-[var(--text-normal)];
}

.nav-folder.is-collapsed > .nav-folder-children {
  @apply hidden;
}

.nav-folder-title-content {
  @apply flex items-center;
}

.nav-folder-title-content .nav-folder-icon {
  @apply mr-1;
}

.nav-buttons-container {
  @apply flex justify-center p-2;
}

.nav-buttons-container .nav-action-button {
  @apply p-1.5;
}