.mod-root {
	.workspace-tabs .workspace-tab-header-container {
		@apply shadow-none border-none px-2;
		@apply h-auto flex items-center;
		min-height: var(--header-height);
	}
	
	.workspace-tabs .workspace-tab-header {
		@apply border-none shadow-none bg-transparent;
		@apply mx-0.5 my-1.75 rounded-[7px] h-auto p-0;
		color: var(--text-muted);
		background-image: none !important;
	}
	
	.workspace-tabs .workspace-tab-header.is-active {
		@apply bg-[var(--background-secondary)] font-medium border-none shadow-none;
		color: var(--text-normal);
	}
	
	.workspace-tabs .workspace-tab-header:not(.is-active):hover {
		@apply bg-[var(--background-secondary-alt)];
		color: var(--text-normal);
		background-image: none !important;
	}
	
	.workspace-tabs .workspace-tab-header-inner {
		@apply pl-3 pr-1.5 py-[8px] bg-transparent border-none;
	}
	
	.workspace-tabs .workspace-tab-header::before,
	.workspace-tabs .workspace-tab-header::after,
	.workspace-tabs .workspace-tab-header-inner::before,
	.workspace-tabs .workspace-tab-header-inner::after {
		display: none !important;
	}
	
	.workspace-tabs .workspace-tab-header-container .titlebar-button-container.mod-right {
		@apply h-full flex items-center;
	}
	
	.workspace-tab-header.is-active .workspace-tab-header-inner-close-button {
		@apply opacity-0 transition-opacity duration-100 ease-in-out;
	}
	
	.workspace-tab-header.is-active:hover .workspace-tab-header-inner-close-button {
		@apply opacity-100;
	}
}

.mod-sidedock {
	.workspace-tabs .workspace-tab-header-container {
		@apply h-auto flex items-center py-1.25 my-0 border-none shadow-none;
		min-height: var(--header-height);
	}
	
	.workspace-tab-header-inner {
		@apply p-[8px];
	}
}

.workspace-ribbon.mod-left {
	@apply mt-0 border-none bg-[var(--background-secondary)];
}

.workspace-ribbon .side-dock-actions {
	margin-top: calc(var(--header-height) + 24px);
}

.workspace-ribbon.mod-left:before {
	@apply bg-[var(--background-secondary-alt)] border-none;
	min-height: calc(var(--header-height) + 17px);
}