body {
	--font-interface-theme: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Figtree", "Fira Sans", "Oxygen", "Ubuntu", "Cantarell", "Roboto", "Droid Sans", sans-serif;
	--font-text-theme: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", "Lora", P052, serif;
	--font-print-theme: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", "Lora", P052, serif;
	--inline-title-font: inherit;
	--inline-title-size: 2.25rem;
	--inline-title-weight: 400;
	--inline-title-line-height: 1.2;
	--header-height: 60px;
	--divider-width: 1px;
    --auger-light-background-primary: #fbfbfa;
    --auger-light-text-normal: #3a3633;
}

.theme-light {
	--background-primary: var(--auger-light-background-primary);
	--background-primary-alt: #f7f7f6;
	--background-secondary: #f4f4f3;
	--background-secondary-alt: #efefed;
	--text-normal: var(--auger-light-text-normal);
	--text-muted: #8a8785;
	--text-highlight-bg: hsl(var(--accent-h) var(--accent-s) var(--accent-l) 0.15);
	--bold-color: #FF3B30;
	--italic-color: #FF9500;
	--background-modifier-border: #e5e4e3;
	--background-modifier-hover: #e0e0de;
	--interactive-accent: var(--text-accent);
	--text-on-accent: #fbfbfa;
	--tab-container-background: var(--titlebar-background);
}

.theme-dark {
	--background-primary: #1e1e1f;
	--background-primary-alt: #262628;
	--background-secondary: #2a2a2c;
	--background-secondary-alt: #363638;
	--text-normal: #ededed;
	--text-muted: #888684;
	--text-highlight-bg: hsl(var(--accent-h) var(--accent-s) var(--accent-l) 0.2);
	--bold-color: #FF453A;
	--italic-color: #FF9F0A;
	--background-modifier-border: #3a3a3c;
	--background-modifier-hover: #3a3a3c;
	--interactive-accent: var(--text-accent);
	--text-on-accent: #1e1e1f; 
	--tab-container-background: var(--titlebar-background);
}
